<p class="mb-5">
  Yugioh cards found when search for: <%= params[:keywords] %>
</p>

<% if @cards.size != 0%>
  <ul>
    <% @cards.each do |card| %>
      <li><%= link_to card.name, card %></li>
    <% end %>

    <%= paginate @cards %>
  </ul>
<% else %>
  <p>No data found.</p>
<% end %>